<p style="font-size: 1.5em;" align="center">
	<strong><ins>Find Tutor Details</ins></strong>
</p>
<p>
	<table style="$CoreTableStyling">
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Enquiry Id</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($findTutor.findTutorSerialId)</td>
		</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Enquiry Date</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatAfterConvertingToIndianTimeZone($findTutor.enquiryDateMillis))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Enquiry Status</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('PUBLIC_APPLICATION_STATUS_LOOKUP', $findTutor.enquiryStatus))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Name</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($findTutor.name)</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Contact Number</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($findTutor.contactNumber)</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Email Id</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($findTutor.emailId)</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Student Grade</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('STUDENT_GRADE_LOOKUP', $findTutor.studentGrade))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Subjects</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('SUBJECTS_LOOKUP', $findTutor.subjects))</td>
    	</tr>
    	<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Preferred Time To Call</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemListConcatenatedLabelString('PREFERRED_TIME_LOOKUP', $findTutor.preferredTimeToCall, '', ''))</td>
		</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Location</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('LOCATIONS_LOOKUP', $findTutor.location))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Reference</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('REFERENCE_LOOKUP', $findTutor.reference))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Address Details</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.formatRemarksAndComments($findTutor.addressDetails))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Additional Details</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.formatRemarksAndComments($findTutor.additionalDetails))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Subscribed Customer</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('YES_NO_LOOKUP', $findTutor.subscribedCustomer))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Is Contacted</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('YES_NO_LOOKUP', $findTutor.isContacted))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Who Contacted</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($findTutor.whoContactedName)</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Contacted Date</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatAfterConvertingToIndianTimeZone($findTutor.contactedDateMillis))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Contacted Remarks</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.formatRemarksAndComments($findTutor.contactedRemarks))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Is Authentication Verified</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('YES_NO_LOOKUP', $findTutor.isAuthenticationVerified))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Who Verified</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($findTutor.whoVerifiedName)</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Verification Date</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatAfterConvertingToIndianTimeZone($findTutor.verificationDateMillis))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Verification Remarks</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.formatRemarksAndComments($findTutor.verificationRemarks))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Is To Be Recontacted</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('YES_NO_LOOKUP', $findTutor.isToBeRecontacted))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Who Suggested For Re-contact</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($findTutor.whoSuggestedForRecontactName)</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Suggestion Date</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatAfterConvertingToIndianTimeZone($findTutor.suggestionDateMillis))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Suggestion Remarks</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.formatRemarksAndComments($findTutor.suggestionRemarks))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Who Recontacted</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($findTutor.whoRecontactedName)</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Recontacted Date</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatAfterConvertingToIndianTimeZone($findTutor.recontactedDateMillis))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Recontacted Remarks</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.formatRemarksAndComments($findTutor.recontactedRemarks))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Is Selected</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('YES_NO_LOOKUP', $findTutor.isSelected))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Who Selected</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($findTutor.whoSelectedName)</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Selection Date</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatAfterConvertingToIndianTimeZone($findTutor.selectionDateMillis))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Selection Remarks</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.formatRemarksAndComments($findTutor.selectionRemarks))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Is Rejected</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('YES_NO_LOOKUP', $findTutor.isRejected))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Who Rejected</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($findTutor.whoRejectedName)</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Rejection Date</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatAfterConvertingToIndianTimeZone($findTutor.rejectionDateMillis))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Rejection Remarks</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.formatRemarksAndComments($findTutor.rejectionRemarks))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Record Last Updated</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatAfterConvertingToIndianTimeZone($findTutor.recordLastUpdatedMillis))</td>
    	</tr>
    	<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Is Data Migrated</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('YES_NO_LOOKUP', $becomeTutor.isDataMigrated))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>When Migrated</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatAfterConvertingToIndianTimeZone($becomeTutor.whenMigratedMillis))</td>
		</tr>
	</table>
</p>