Hello $addressName,
<p>Greetings from "Seek Mentore".</p>
<p>Your "Seek Mentore" Profile Password has been changed recently.</p>
<p>If you did not make this change please get in touch with "Seek Mentore" team on the below contact details immediately.</p>