Hello $addressName,
<p>Greetings from "Seek Mentore".</p>
<p>Your "Seek Mentore" Profile Password has been requested for reset.</p>
<p>Please <a href="$backofficeURL/#/public/resetpassword/$tokenSerialId/$token" target="_blank">Click Here</a> to reset your password.</p>
<p>If the link does not work, copy and paste this URL <strong>($backofficeURL/#/public/resetpassword/$tokenSerialId/$token)</strong> in your browser address bar.</p>
<p>This link is only valid for one single use for the next 12 hours.</p>
<p>If you did not request this change please get in touch with "Seek Mentore" team on the below contact details immediately.</p>