<?xml version="1.0" encoding="UTF-8"?>
<!--
	pageAccessType values 
		G - General Access only Public Rest URL's
		M - Mentor Access
		P - Professional Team Access
		A - Admin Access
		D - Development Team Access
		T - Testing Team Access
 -->
<menu>
	<pageList id="secured">
		<!-- <page id="publicAccess" url="/rest/publicaccess" pageAccessType="G">
			<webservice id="getForm" url="/getForm"></webservice>
			<webservice id="saveForm" url="/saveForm" additionalAccessFunction="saveAccessForForm11"></webservice>
			<webservice id="downloadForm" url="/downloadForm"></webservice>
		</page> -->
		<page id="admin" url="/rest/admin" pageAccessType="A">
			<webservice id="downloadReport" url="/downloadReport"></webservice>
		</page>
		<page id="commons" url="/rest/commons" pageAccessType="U,A">
			<webservice id="getCountryList" url="/getCountryList"></webservice>
			<webservice id="getStateList" url="/getStateList"></webservice>
		</page>
	</pageList>
	<pageList id="unsecured">
		<page id="index" url="/"></page>
		<page id="index" url="/index.html"></page>
		<page id="publicAccess" url="/rest/publicaccess">
			<webservice id="becomeTutor" url="/becomeTutor"></webservice>
			<webservice id="testEmail" url="/testEmail"></webservice>
		</page>
	</pageList>
</menu>