<?xml version="1.0" encoding="UTF-8"?>
<!--
	pageAccessType values 
		G - General Access only Public Rest URL's & Commons URL
		M - Mentor Access
		P - Professional Team Access
		A - Admin Access
		S - Super/all Access
		D - Development Team Access
		T - Testing Team Access
 -->
<menu>
	<pageList id="secured">
		<!-- <page id="publicAccess" url="/rest/publicaccess" pageAccessType="G">
			<webservice id="getForm" url="/getForm"></webservice>
			<webservice id="saveForm" url="/saveForm" additionalAccessFunction="saveAccessForForm11"></webservice>
			<webservice id="downloadForm" url="/downloadForm"></webservice>
		</page> -->
		<page id="login" url="/admin.html" pageAccessType="A"></page>
		<page id="admin" url="/rest/admin" pageAccessType="A">
			<webservice id="displayTutorRegistrations" url="/displayTutorRegistrations"></webservice>
		</page>
		<page id="commons" url="/rest/commons" pageAccessType="G">
		</page>
	</pageList>
	<pageList id="unsecured">
		<page id="index" url="/"></page>
		<page id="index" url="/index.html"></page>
		<page id="publicAccess" url="/rest/publicaccess">
			<webservice id="becomeTutor" url="/becomeTutor"></webservice>
			<webservice id="findTutor" url="/findTutor"></webservice>
			<webservice id="submitQuery" url="/submitQuery"></webservice>
			<webservice id="subscribe" url="/subscribe"></webservice>
			<webservice id="getDropdownListDataBecomeTutor" url="/getDropdownListDataBecomeTutor"></webservice>
			<webservice id="getDropdownListDataFindTutor" url="/getDropdownListDataFindTutor"></webservice>
			<webservice id="getDropdownListDataSubscribeWithUs" url="/getDropdownListDataSubscribeWithUs"></webservice>
			<webservice id="test" url="/test"></webservice>
		</page>
		<page id="login" url="/login.html"></page>
	</pageList>
</menu>