Hello $addressName,
<p>Your below document/s are still not uploaded.</p>
<p>
	<table style="border-collapse: collapse; width: 80%;">
	  #foreach( $document in $tutorDocuments )
	    <tr>
	    	<td style="border: 1px solid black; width: 10%; padding: 10px;">$velocityCount</td>
	    	<td style="border: 1px solid black; padding: 10px;">$ApplicationUtils.getSelectLookupItemLabel('DOCUMENT_TYPE_LOOKUP', $document.documentType)</td>
		</tr>
	  #end
	</table>
</p>
<p>Could you please upload the same, this will help in increasing your tutor rating score.</p>
<p>Please login to your account and upload them.</p>