Hello $addressName,
<p>Greetings from "Seek Mentore".</p>
<p>Your below uploaded document/s has been asked for Re-Upload due to mentioned reasons.</p>
<p>
	<table style="$CoreTableStyling">
	  #foreach( $document in $tutorDocuments )
	    <tr>
	    	<td style="$CoreTableTDStyling width: 10%;">$velocityCount</td>
	    	<td style="$CoreTableTDStyling width: 20%; ">$ApplicationUtils.getSelectLookupItemLabel('TUTOR_DOCUMENT_TYPE_LOOKUP', $document.documentType)</td>
	    	<td style="$CoreTableTDStyling">$ApplicationUtils.formatRemarksAndComments($document.remarks)</td>
		</tr>
	  #end
	</table>
</p>
<p>Please login to your account and upload them again.</p>
<p>The document/s you uploaded has been attached here for your reference.</p>
