Hello $addressName,
<p>Greetings from "Seek Mentore".</p>
<p>Your below document/s are still not uploaded.</p>
<p>
	<table style="$CoreTableStyling">
	  #foreach( $document in $tutorDocuments )
	    <tr>
	    	<td style="$CoreTableTDStyling width: 10%;">$velocityCount</td>
	    	<td style="$CoreTableTDStyling">$ApplicationUtils.getSelectLookupItemLabel('DOCUMENT_TYPE_LOOKUP', $document.documentType)</td>
		</tr>
	  #end
	</table>
</p>
<p>Could you please upload the same, this will help in increasing your tutor rating score.</p>
<p>Please login to your account and upload them.</p>