Hello Team,
<p>A new Query has been requested in the System.</p>
<p>Please find below the details.</p>
<p>
	<table style="$CoreTableStyling">
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Query Id</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($submitQuery.queryId)</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Query Date</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatAfterConvertingToIndianTimeZone($submitQuery.queryRequestedDateMillis))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Query Status</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('QUERY_STATUS_LOOKUP', $submitQuery.queryStatus))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Email Id</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($submitQuery.emailId)</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Query Details</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($submitQuery.queryDetails)</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Is Registered Tutor</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('YES_NO_LOOKUP', $submitQuery.registeredTutor))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Is Subscribed Customer</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('YES_NO_LOOKUP', $submitQuery.subscribedCustomer))</td>
		</tr>
	</table>
</p>