Hello $addressName,
<p>Your Customer Profile has been created in 'Seek Mentore'.</p>
<p>Please login here http://www.seekmentore.com/customer with the below credentials.</p>
<p>
	<table style="width:80%;">
		<tr>
			<td>User-Id</td>
			<td>$userId</td>
		</tr>
		<tr>
			<td>Temporary Password</td>
			<td>$temporaryPassword</td>
		</tr>
		<tr>
			<td colspan="2">[Please change your password after login]</td>
		</tr>
		<tr>
			<td>User-Type</td>
			<td>Parent & Students</td>
		</tr>
	</table>
<p>