Hello $demo.customerName,
<p>Greetings from "Seek Mentore".</p>
<p>Tutor demo was cancelled for your enquiry, please find below the details.</p>
<p><strong><ins>Enquiry Details</ins></strong></p>
<p>
	<table style="$CoreTableStyling">
		<tr>
			<td style="$CoreTableTDStyling width:20%;"><strong>Subject</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getSelectLookupItemLabel('SUBJECTS_LOOKUP', $demo.enquirySubject)</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:20%;"><strong>Grade</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getSelectLookupItemLabel('STUDENT_GRADE_LOOKUP', $demo.enquiryGrade)</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:20%;"><strong>Location</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getSelectLookupItemLabel('LOCATIONS_LOOKUP', $demo.enquiryLocation)</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:20%;"><strong>Address</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.formatRemarksAndComments($demo.enquiryAddressDetails)</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:20%;"><strong>Additional Details</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.formatRemarksAndComments($demo.enquiryAdditionalDetails)</td>
		</tr>
	</table>
</p>
<p><strong><ins>Tutor Details</ins></strong></p>
<p>
	<table style="$CoreTableStyling">
		<tr>
			<td style="$CoreTableTDStyling width:20%;"><strong>Name</strong></td>
			<td style="$CoreTableTDStyling">$demo.tutorName</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:20%;"><strong>Contact Number</strong></td>
			<td style="$CoreTableTDStyling">$demo.tutorContactNumber</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:20%;"><strong>Email Id</strong></td>
			<td style="$CoreTableTDStyling">$demo.tutorEmail</td>
		</tr>
	</table>
</p>
<p><strong><ins>Cancelled Demo Details</ins></strong></p>
<p>
	<table style="$CoreTableStyling">
		<tr>
			<td style="$CoreTableTDStyling width:20%;"><strong>Date</strong></td>
			<td style="$CoreTableTDStyling color:red;"><del>$DateUtils.parseDateInSpecifiedFormatAfterConvertingToIndianTimeZone($demo.demoDateAndTimeMillis, 'dd-MMM-yyyy')</del></td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:20%;"><strong>Time</strong></td>
			<td style="$CoreTableTDStyling color:red;"><del>$DateUtils.parseDateInSpecifiedFormatAfterConvertingToIndianTimeZone($demo.demoDateAndTimeMillis, 'hh:mm a')</del></td>
		</tr>
	</table>
</p>
<p>We regret for the inconvenience caused.</p>
<p>Someone from our team will contact you to arrange another demo.</p>