Hello Team,
<p>A new tutor registration request has arrived in the System.</p>
<p>Please find below the details.</p>
<p>
	<table style="$CoreTableStyling">
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Tentative Tutor Id</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($becomeTutor.becomeTutorSerialId)</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Application Date</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatAfterConvertingToIndianTimeZone($becomeTutor.applicationDateMillis))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Application Status</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('PUBLIC_APPLICATION_STATUS_LOOKUP', $becomeTutor.applicationStatus))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Date of Birth</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatWithoutTime($becomeTutor.dateOfBirth))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Contact Number</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($becomeTutor.contactNumber)</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Email Id</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($becomeTutor.emailId)</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>First Name</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($becomeTutor.firstName)</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Last Name</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($becomeTutor.lastName)</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Gender</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('GENDER_LOOKUP', $becomeTutor.gender))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Qualification</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('QUALIFICATION_LOOKUP', $becomeTutor.qualification))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Primary Profession</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('PROFESSION_LOOKUP', $becomeTutor.primaryProfession))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Transport Mode</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('TRANSPORT_MODE_LOOKUP', $becomeTutor.transportMode))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Teaching Experience</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($becomeTutor.teachingExp)</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Student Grade</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemListConcatenatedLabelString('STUDENT_GRADE_LOOKUP', $becomeTutor.studentGrade, '', ''))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Subjects</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemListConcatenatedLabelString('SUBJECTS_LOOKUP', $becomeTutor.subjects, '', ''))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Locations</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemListConcatenatedLabelString('LOCATIONS_LOOKUP', $becomeTutor.locations, '', ''))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Preferred Time To Call</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemListConcatenatedLabelString('PREFERRED_TIME_LOOKUP', $becomeTutor.preferredTimeToCall, '', ''))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Reference</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('REFERENCE_LOOKUP', $becomeTutor.reference))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Preferred Teaching Type</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemListConcatenatedLabelString('PREFERRED_TEACHING_TYPE_LOOKUP', $becomeTutor.preferredTeachingType, '', ''))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Additional Details</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.formatRemarksAndComments($becomeTutor.additionalDetails))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Address Details</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.formatRemarksAndComments($becomeTutor.addressDetails))</td>
		</tr>
	</table>
</p>