<p style="font-size: 1.5em;" align="center">
	<strong><ins>Become Tutor Details</ins></strong>
</p>
<p>
	<table style="$CoreTableStyling">
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Tentative Tutor Id</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($becomeTutor.becomeTutorSerialId)</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Application Date</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatAfterConvertingToIndianTimeZone($becomeTutor.applicationDateMillis))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Application Status</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('PUBLIC_APPLICATION_STATUS_LOOKUP', $becomeTutor.applicationStatus))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Date of Birth</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatWithoutTime($becomeTutor.dateOfBirth))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Contact Number</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($becomeTutor.contactNumber)</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Email Id</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($becomeTutor.emailId)</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>First Name</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($becomeTutor.firstName)</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Last Name</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($becomeTutor.lastName)</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Gender</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('GENDER_LOOKUP', $becomeTutor.gender))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Qualification</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('QUALIFICATION_LOOKUP', $becomeTutor.qualification))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Primary Profession</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('PROFESSION_LOOKUP', $becomeTutor.primaryProfession))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Transport Mode</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('TRANSPORT_MODE_LOOKUP', $becomeTutor.transportMode))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Teaching Experience</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($becomeTutor.teachingExp)</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Student Grade</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemListConcatenatedLabelString('STUDENT_GRADE_LOOKUP', $becomeTutor.studentGrade, '', ''))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Subjects</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemListConcatenatedLabelString('SUBJECTS_LOOKUP', $becomeTutor.subjects, '', ''))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Locations</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemListConcatenatedLabelString('LOCATIONS_LOOKUP', $becomeTutor.locations, '', ''))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Preferred Time To Call</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemListConcatenatedLabelString('PREFERRED_TIME_LOOKUP', $becomeTutor.preferredTimeToCall, '', ''))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Reference</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('REFERENCE_LOOKUP', $becomeTutor.reference))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Preferred Teaching Type</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemListConcatenatedLabelString('PREFERRED_TEACHING_TYPE_LOOKUP', $becomeTutor.preferredTeachingType, '', ''))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Additional Details</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.formatRemarksAndComments($becomeTutor.additionalDetails))</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling width:25%;"><strong>Address Details</strong></td>
			<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.formatRemarksAndComments($becomeTutor.addressDetails))</td>
		</tr>
		<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Is Contacted</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('YES_NO_LOOKUP', $becomeTutor.isContacted))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Who Contacted</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($becomeTutor.getWhoContactedName())</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Contacted Date</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatAfterConvertingToIndianTimeZone($becomeTutor.getContactedDateMillis()))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Contacted Remarks</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.formatRemarksAndComments($becomeTutor.contactedRemarks))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Is Authentication Verified</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('YES_NO_LOOKUP', $becomeTutor.isAuthenticationVerified))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Who Verified</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($becomeTutor.whoVerifiedName)</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Verification Date</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatAfterConvertingToIndianTimeZone($becomeTutor.verificationDateMillis))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Verification Remarks</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.formatRemarksAndComments($becomeTutor.verificationRemarks))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Is To Be Recontacted</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('YES_NO_LOOKUP', $becomeTutor.isToBeRecontacted))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Who Suggested For Re-contact</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($becomeTutor.whoSuggestedForRecontactName)</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Suggestion Date</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatAfterConvertingToIndianTimeZone($becomeTutor.suggestionDateMillis))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Suggestion Remarks</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.formatRemarksAndComments($becomeTutor.suggestionRemarks))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Who Recontacted</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($becomeTutor.whoRecontactedName)</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Recontacted Date</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatAfterConvertingToIndianTimeZone($becomeTutor.recontactedDateMillis))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Recontacted Remarks</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.formatRemarksAndComments($becomeTutor.recontactedRemarks))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Is Selected</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('YES_NO_LOOKUP', $becomeTutor.isSelected))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Who Selected</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($becomeTutor.whoSelectedName)</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Selection Date</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatAfterConvertingToIndianTimeZone($becomeTutor.selectionDateMillis))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Selection Remarks</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.formatRemarksAndComments($becomeTutor.selectionRemarks))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Is Rejected</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('YES_NO_LOOKUP', $becomeTutor.isRejected))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Who Rejected</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($becomeTutor.whoRejectedName)</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Rejection Date</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatAfterConvertingToIndianTimeZone($becomeTutor.rejectionDateMillis))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Rejection Remarks</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.formatRemarksAndComments($becomeTutor.rejectionRemarks))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Rejection Count</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($becomeTutor.rejectionCount)</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Re Applied</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('YES_NO_LOOKUP', $becomeTutor.reApplied))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Previous Application Date</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatAfterConvertingToIndianTimeZone($becomeTutor.previousApplicationDateMillis))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Record Last Updated</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatAfterConvertingToIndianTimeZone($becomeTutor.recordLastUpdatedMillis))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>Is Data Migrated</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($ApplicationUtils.getSelectLookupItemLabel('YES_NO_LOOKUP', $becomeTutor.isDataMigrated))</td>
    	</tr>
    	<tr>
    		<td style="$CoreTableTDStyling width:25%;"><strong>When Migrated</strong></td>
    		<td style="$CoreTableTDStyling">$ApplicationUtils.getBlankForNull($DateUtils.parseDateInIndianDTFormatAfterConvertingToIndianTimeZone($becomeTutor.whenMigratedMillis))</td>
    	</tr>
	</table>
</p>