#set($CoreTableStyling='border-collapse: collapse; width: 80%;')##
#set($CoreTableTDStyling='border: 1px solid black; padding: 10px;')##
<html>
	<body style="font-family: 'Verdana', Sans, serif;">
		<div id="main-div" style="font-family: 'Verdana', Sans, serif; width: 50%; padding: 10px; border: 10px solid #10213a; margin-left: 20%;">
			<div id="title-div" style="background: #10213a; color: white; min-height: 60px; padding: 10px;">
				<a href="$serverURL/" target="_blank">
					<img src="$imageServerURL/images/company-logo-complete.png" id="company-logo" alt="Seek Mentore Logo"/>
				</a>				
			</div>
			<div id="content-div" style="margin-top: 10px; padding: 5px;">
				<p id="content-section">
					#if( $parseFile )
					  	#parse($contentFilePath)
				  	#elseif( $parseHTMLContent )
				  		$htmlContent
				  	#else
				  		<p id="no-content" style="color: red;"> NO CONTENT SPECIFIED </p>
					#end
				</p>
			</div>
			<div id="signature-div" style="padding: 5px;">
				Kind Regards
				<p id="signature-section">
					$mailSignature
				</p>
			</div>
			<div id="footer-div" style="margin-top: 25px; background: #10213a; min-height: 50px; color: white; padding-top: 1px; padding-bottom: 1px;">
				<a href="$serverURL/" target="_blank" style="text-decoration: none !important;">
					<p style="color: white !important; text-align: center;">Seek Mentore</p>
					<p style="color: white !important; text-align: center;">One stop solution for all tutoring problems</p>
				</a>				
			</div>			
		</div>		
	</body>
</html>