Hello $addressName,
<p>Greetings from "Seek Mentore".</p>
<p>Your Parent & Student Profile has been created in "Seek Mentore".</p>
<p>Please <a href="$serverURL/customer" target="_blank">Login Here</a> with below credentials.</p>
<p>If the link does not work, copy and paste this URL <strong>($serverURL/customer)</strong> in your browser address bar.</p>
<p>
	<table style="$CoreTableStyling">
		<tr>
			<td style="$CoreTableTDStyling"><strong>User-Id</strong></td>
			<td style="$CoreTableTDStyling">$userId</td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling"><strong>Temporary Password</strong></td>
			<td style="$CoreTableTDStyling">$temporaryPassword</td>
		</tr>
		<tr>
			<td colspan="2" style="$CoreTableTDStyling color: red;"><strong>[Please change your password after login]</strong></td>
		</tr>
		<tr>
			<td style="$CoreTableTDStyling"><strong>User-Type</strong></td>
			<td style="$CoreTableTDStyling">Parent & Students</td>
		</tr>
	</table>
</p>
<p>In case you are not able to login and facing any issues, please contact us on the below details.</p>